<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>

        <!-- Indicates that the server.js file is the entry point for the 
Node.js application -->
        <handlers>
            <add name="iisnode" path="server.js" verb="*" 
modules="iisnode"/>
        </handlers>

        <!-- Redirect all non-static requests to server.js -->
        <rewrite>
            <rules>
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{{REQUEST_FILENAME}}" 
matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="server.js"/>
                </rule>
            </rules>
        </rewrite>

        <!-- Disable the IIS static file handler for paths handled by the 
iisnode module -->
        <staticContent>
            <remove fileExtension=".svg" />
            <remove fileExtension=".eot" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".eot" 
mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".woff" 
mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" 
mimeType="application/font-woff2" />
            <mimeMap fileExtension=".ttf" 
mimeType="application/octet-stream" />
        </staticContent>

        <!-- Configure error pages -->
        <!-- Remove this section if you want to use your own error pages 
-->
        <httpErrors>
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="503" subStatusCode="-1" />
            <remove statusCode="504" subStatusCode="-1" />
        </httpErrors>

    </system.webServer>
</configuration>
